<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- link bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <!-- link jquery and moment?-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../../public/css/homepage.css" />
  <title>Viva Chat</title>
</head>

<body>
  <header class="text-center text-white">
    <h1 class="pt-3">Viva Chat</h1>

    <!-- create login or logouit link -->

    <!-- <nav> -->
    <!-- Conditionally render login or logout links -->
    <!-- {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav> -->
  </header>

  <main class="text-center m-0">




    <div class="jumbotron row justify-content-center m-0">

      <div class="col-md-6 p-3 mb-5 rounded d-flex flex-column justify-content-center">

        <div class="row justify-content-center">
          <a class="btn-lg col-3 btn-primary m-1" href="/login">Login</a>
        </div>
        <div class="row justify-content-center">
          <a class="btn-lg col-3 btn-primary" href="/create-account">Create Account</a>
        </div>
      </div>

      </div>
    </div>
    </div>




  </main>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4 bg dark">
        <!-- <p>Created by Justus Brown, Gabriel Warner, and Zhao-Ming Zhong in 2022</p> -->
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>

      </section>
    </div>
  </footer>
</body>
<script src="./assets/script.js"></script>

</html>