<div class="jumbotron text-center m-0">
  <div class="row">
    
    <a class="btn-lg btn-primary"href="/login">Login</a>

    <a class="btn-lg btn-primary"href="/create-account">Create Account</a>
  </div>
</div>