<div class=" text-center m-0">
  <div class="row justify-content-space-between ">
    
    <a class=" col-2 btn-lg btn-primary"href="/login">Login</a>

    <a class="col-2 btn-lg btn-primary"href="/create-account">Create Account</a>
  </div>
</div>