<div class="jumbotron text-center m-0">
  <div class="row justify-content-center pt-3">
    <div class="col-md-6 shadow-lg p-3 mb-5 rounded">
      <p class="text-dark"> Welcome to our video chat application! Please login or make an account to proceed to the
        main lobby. Once you are in the room, you will need to allow video and microphone access in order to join the
        videochat. </p>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h2 class="text-dark">Login</h2>
          <form class="form login-form">
            <div class="form-group text-dark">
              <label for="email-login">Email:</label>
              <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group text-dark">
              <label for="password-login">Password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group form-button">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="form-group form-button">
              <a class="btn btn-primary" href="/create-account">Create Account</a>
            </div>
          </form>

        </div>
        <div class="col-md-4"></div>

      </div>

    </div>
  </div>
</div>
<script src="js/login.js"></script>