<div class="container">
  <div class="row">
    <div class="col">
      ChatText
      <div class="chatBox">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      2 of 2 ChatText
      <div class="person1">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Person 1</h6>
          </div>
        </div>
      </div>
      <div class="person2">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Person2</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/videochat.js"></script>