/* .jumbotron {
  background-image: url("../image/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap');

/* Header */
.pt-3 {
  font-family: Sora;
  font-weight: 800;
  color: white;
}
.col-4{
  height: 100%;
}

a {
  font-family: Sora;
  font-weight: 400;
  color: white;
}
h1 {
  font-size: 5vh;
  margin-bottom: 0;
  padding: 0;
  font-weight: 800
}
p {
  font-family: sora;
}
header{
  padding: 1rem;
  background: rgb(80,37,176);
  background: linear-gradient(22deg, rgba(80,37,176,1) 0%, rgba(146,0,185,1) 52%, rgba(255,151,81,1) 100%);
}

.nav-link {
  font-size: 1.75vh;
}

.text-white,
.btn,
.btn-lg {
  background-color: blueviolet;
  font-family: Sora;
}
.btn {
  border: none;
}
.btn {
  color: white;
}

.btn:hover{
  background-color: blueviolet;
}


.btn-sizing {
  width: 198px;
  height: 30px;
  line-height: normal;
}


footer {
  height: 10vh;
}

main {
  height: 80vh;
}

input {
  text-align: center;
}

.form-group {
  text-align: right;
}

.form-button {
  text-align: center;
}

.nav-height,
.btn-height {
  /* height: 5%; */
  background-color: #343a40;
}

.container-height {
  height: 95%;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32vh);
  grid-auto-rows: 32vh;
  grid-gap: 1.5rem;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  font-family: Sora;
}

h6 {
  font-family: Sora;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  font-family: Sora;
  border-radius: 10px;
}

#messages > li:nth-child(odd) {
  background: rgb(40,0,126);
  
background: linear-gradient(22deg, rgba(40,0,126,.2) 0%, rgba(157,0,199,.4) 52%, rgba(255,102,0,.3) 100%);
}

.card {
  margin: 2em auto;
  border-style: red solid 10px;
  max-height: 90%;
}

.card-body {
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: scroll;
  white-space: nowrap;
  
}
#messages {
  height: 100%;
  white-space: nowrap;
}

#form {
  background: rgba(2, 1, 1, 0.15);
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.chat-box-title {
  padding: 1em;
  margin: 1em;
}

li {
  color: #212529;
  text-align: left;
}

a {
  color: white;
}

a:link,
a:visited,
a:active,
#logout-btn:link,
#logout-btn:visited,
#logout-btn:active {
  text-decoration: none;
}

a:hover,
#logout-btn:hover {
  text-decoration: underline;
  color: blueviolet;
}
