/* .jumbotron {
  background-image: url("../image/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap');

/* Header */
.pt-3 {
  font-family: Sora;
  font-weight: 800;
  color: white;
}

a {
  font-family: Sora;
  font-weight: 400;
  color: white;
}

.text-white,
.btn,
.btn-lg {
  background-color: blueviolet;
  font-family: Sora;
}

.btn {
  border: none;
}
.btn {
  color: white;
}

.btn:hover{
  background-color: blueviolet;
}
.nav-height {
  padding: .5rem;
}

.btn-sizing {
  width: 198px;
  height: 30px;
}

header,
footer {
  height: 10vh;
}

main {
  height: 80vh;
}

input {
  text-align: center;
}

.form-group {
  text-align: right;
}
.form-button {
  text-align: center;
}

.nav-height,
.btn-height {
  height: 5%;
  background-color: #343a40;
}

.container-height {
  height: 95%;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  grid-gap: 1.5rem;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 30px;
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  font-family: Sora;
}

h6 {
  font-family: Sora;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
  font-family: Sora;
  background-color: ;
  border-radius: 10px;
}

#messages > li:nth-child(odd) {
  background: rgb(209, 182, 235);
}
.card {
  margin: 2em;
}
.card-body {
  margin: 0;
  padding-bottom: 3rem;
  position: relative;
  overflow: scroll;
  background-color: ;
}
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.chat-box-title {
  padding: 1em;
  margin: 1em;
}

li {
  color: #212529;
  text-align: left;
}
